body
{
font-family:'Century Gothic';
background-color: black; 
background: url('background.png');
width: 100%;
height: 100%;
}

div#images
{
color: white; 
position: absolute;
align: center;
margin-top: 3%;
padding-top: 3%;
padding-bottom: 3%; 
left: 45%; 
width: 220px; 
background-color: rgb(10, 10, 10);
border-style: solid; border-color: rgb(25, 25, 25); border-width: 2px; 
}

.imgs
{
height: 92;
width: 92;
}

p#imgamount
{
color: white;
z-index: -1;
}

div#Head
{
width: 93%;
height: 60px;
padding-bottom: 2%; 
padding-left: 6%; 
background-color: rgb(20, 20, 20);
border-style: solid;
font-size: 30px; 
border-color: rgb(120, 120, 120);
border-width: 3px;
}

p#cooldot
{
font-family:'Century Gothic';
color: red;
height: 30px;
}

p#lrgtxt
{
font-family:'Century Gothic';
color: white;
}

img
{
margin-left: 7px; 
border-style: outset;
top: 10%; 
border-width: 3px;
border-color: rgb(150, 20, 20);
}

img:hover
{
border-style: outset;
border-width: 4mpx;
postion: absolute; 
width: 92px;
height: 92px;
border-color: white;
}

