body
{
font-family:'Century Gothic';
background: url('background.png');
}

div#images
{
position: absolute;
align: center;
top: 20%;
left: 45%; 
width: 220px; 
background-color: rgb(10, 10, 10);
border-style: solid; border-color: rgb(25, 25, 25); border-width: 2px; 
}

div#Head
{
width: 99%;
height: 60px;
background-color: rgb(20, 20, 20);
border-style: solid;
border-color: rgb(120, 120, 120);
border-width: 3px;
}

p#imgamount
{
position: absolute;
left: 45%; 
bottom: 78%;
color: white;
}

p#cooldot
{
position: absolute;
left: 21%; 
font-family:'Century Gothic';
bottom: 86.5%;
color: red;
}

h1#lrgtxt
{
position: absolute;
left: 5%; 
font-family:'Century Gothic';
bottom: 88%;
color: white;
}

img
{
margin-left: 7px; 
border-style: outset;
top: 10%; 
border-width: 3px;
border-color: white;
}

img:hover
{
border-style: outset;
border-width: 4mpx;
postion: absolute; 
width: 92px;
height: 92px;
border-color: blue;
}

